.eventItem {
  border-radius: 2px;
  cursor: pointer;
  font-size: calc(var(--reserve-calendar-font-size, 1rem) * 0.75);
  margin-bottom: 1px;
  overflow: hidden;
  padding: 2px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.eventItem:hover {
  opacity: 0.8;
}

.eventItemExpanded {
  overflow: visible;
  white-space: normal;
}
